<a href="https://colab.research.google.com/github/DilshanBotheju/CSACP_Project/blob/main/CrimeType_and_Time_Predictor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Data Preprocessing**

In [165]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [166]:
import numpy as np
import pandas as pd

Crime Dataset

In [167]:
#Load relevant datasets
crime_data_path = "/content/drive/MyDrive/DSGP/Baltimore_Part1_Crime_data.csv"
crime_data = pd.read_csv(crime_data_path, encoding = "latin-1")
crime_data.head()

,ï»¿X,Y,RowID,CrimeDateTime,CrimeCode,Location,Description,Inside_Outside,Weapon,Post,District,Neighborhood,Latitude,Longitude,GeoLocation,Premise,VRIName,Total_Incidents,Shape
0,1.442562e+06,590731.068662,1,2022/04/01 09:31:00+00,6G,6300 EASTERN AVE,LARCENY,NaN,NaN,232,SOUTHEAST,BAYVIEW,39.2878,-76.5399,"(39.2878,-76.5399)",NaN,NaN,1,NaN
1,1.425428e+06,599464.931734,2,2022/04/01 11:00:00+00,6J,1300 E NORTH AVE,LARCENY,NaN,NaN,312,EASTERN,EAST BALTIMORE MIDWAY,39.3120,-76.6003,"(39.312,-76.6003)",NaN,Eastern 1,1,NaN
2,1.417097e+06,588539.130322,3,2022/04/01 00:01:00+00,6D,800 CARROLL ST,LARCENY FROM AUTO,NaN,NaN,932,SOUTHERN,WASHINGTON VILLAGE/PIGTOWN,39.2821,-76.6299,"(39.2821,-76.6299)",NaN,NaN,1,NaN
3,1.431878e+06,587437.730818,4,2022/04/01 18:00:00+00,6F,2700 LIGHTHOUSE PT E,LARCENY,NaN,NaN,214,SOUTHEAST,CANTON,39.2789,-76.5777,"(39.2789,-76.5777)",NaN,NaN,1,NaN
4,1.433804e+06,593238.069583,5,2022/04/01 21:00:00+00,3GF,3300 E FAYETTE ST,ROBBERY - COMMERCIAL,NaN,HANDGUN,222,SOUTHEAST,PATTERSON PARK NEIGHBORHOOD,39.2948,-76.5708,"(39.2948,-76.5708)",NaN,NaN,1,NaN

In [168]:
# Identifying shape of the original dataset
crime_data.shape

(516635, 19)

In [169]:
# Getting a sample percentage of data to preprocess
sample_percentage = 1
crime_data = crime_data.sample(frac=sample_percentage, random_state=42)

In [170]:
# Identifying shape of sample dataset
crime_data.shape

(516635, 19)

In [171]:
# Analyisng crime dataset
crime_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 516635 entries, 68726 to 121958
Data columns (total 19 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   ï»¿X             515747 non-null  float64
 1   Y                515747 non-null  float64
 2   RowID            516635 non-null  int64
 3   CrimeDateTime    516635 non-null  object
 4   CrimeCode        516635 non-null  object
 5   Location         514081 non-null  object
 6   Description      516635 non-null  object
 7   Inside_Outside   442718 non-null  object
 8   Weapon           107334 non-null  object
 9   Post             514896 non-null  object
 10  District         514896 non-null  object
 11  Neighborhood     514865 non-null  object
 12  Latitude         515747 non-null  float64
 13  Longitude        515747 non-null  float64
 14  GeoLocation      516635 non-null  object
 15  Premise          442382 non-null  object
 16  VRIName          60400 non-null   object
 17  Total_Incidents  516635 non-null  int64
 18  Shape            0 non-null       float64
dtypes: float64(5), int64(2), object(12)
memory usage: 78.8+ MB

In [172]:
crime_codes_path = "/content/drive/MyDrive/DSGP/BALTIMORE_CRIME_CODES.csv"
crime_codes = pd.read_csv(crime_codes_path, encoding = "latin-1")
crime_codes.head()

,CODE,TYPE,NAME,CLASS,NAME_COMBINE,WEAPON,VIOLENT_CR,VIO_PROP_CFS
0,13,CTYP,ASSIST OFFICER,CFS,ASSIST OFFICER,NaN,NaN,OTHER
1,1A,CTYP,MURDER,PART 1,HOMICIDE,OTHER,HOMICIDE,VIOLENT
2,1F,CTYP,MURDER,PART 1,HOMICIDE,FIREARM,HOMICIDE,VIOLENT
3,1K,CTYP,MURDER,PART 1,HOMICIDE,KNIFE,HOMICIDE,VIOLENT
4,1O,CTYP,MURDER,PART 1,HOMICIDE,OTHER,HOMICIDE,VIOLENT

In [173]:
crime_codes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 203 entries, 0 to 202
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   CODE          203 non-null    object
 1   TYPE          203 non-null    object
 2   NAME          202 non-null    object
 3   CLASS         202 non-null    object
 4   NAME_COMBINE  202 non-null    object
 5   WEAPON        45 non-null     object
 6   VIOLENT_CR    103 non-null    object
 7   VIO_PROP_CFS  203 non-null    object
dtypes: object(8)
memory usage: 12.8+ KB

In [174]:
# Drop unnecessary columns from crime codes dataset
crime_codes = crime_codes.drop(["TYPE","CLASS","WEAPON","NAME_COMBINE","VIOLENT_CR","VIO_PROP_CFS"],axis=1,errors="ignore")
crime_codes.head(20)

   CODE                  NAME
0    13  ASSIST OFFICER
1    1A  MURDER
2    1F  MURDER
3    1K                MURDER
4    1O                MURDER
5   20A  FOLLOWUP
6   20B  FOOT PATROL
7   20C  BANK CHECK
8   20D  DETAIL
9   20E  COURT
10  20F  WARRANT
11  20G  REPAIRS/SERVICE
12  20H  TRAFFIC CONTROL
13  20J  TRANSPORT
14  20K  ESCORT
15  20L  LUNCH
16  20M  PERSONAL RELIEF
17  20N  SCHOOL/CHURCH
18  20R  OUT-OF-VEHICLES
19  20S  SUPERVISOR COMP

In [175]:
#Renaming column names
crime_codes = crime_codes.rename(columns={"CODE": "CrimeCode", "NAME": "CrimeName"})

# Merge the datasets to map codes to names
crime_merged_data = pd.merge(crime_data, crime_codes[["CrimeCode", "CrimeName"]], on="CrimeCode", how="left")
crime_merged_data.head(10)

,ï»¿X,Y,RowID,CrimeDateTime,CrimeCode,Location,Description,Inside_Outside,Weapon,Post,District,Neighborhood,Latitude,Longitude,GeoLocation,Premise,VRIName,Total_Incidents,Shape,CrimeName
0,1.402371e+06,598536.523340,68727,2020/05/09 20:00:00+00,6D,3700 CHESHOLM RD,LARCENY FROM AUTO,O,NaN,812,SOUTHWEST,FAIRMONT,39.3097,-76.6818,"(39.3097,-76.6818)",STREET,NaN,1,NaN,LARCENY- FROM AUTO
1,1.413668e+06,596830.031062,285686,2015/11/01 02:00:00+00,7A,1300 N STRICKER ST,AUTO THEFT,O,NaN,724,WESTERN,SANDTOWN-WINCHESTER,39.3049,-76.6419,"(39.3049,-76.6419)",STREET,NaN,1,NaN,STOLEN AUTO
2,1.399888e+06,588220.126897,465873,2012/01/15 16:30:00+00,4C,4500 FREDERICK AVE,AGG. ASSAULT,O,OTHER,822,SOUTHWEST,IRVINGTON,39.2814,-76.6907,"(39.2814,-76.6907)",STREET,NaN,1,NaN,AGG. ASSLT.- OTH.
3,1.409558e+06,590950.039225,163100,2018/04/27 12:00:00+00,5A,0 N CATHERINE ST,BURGLARY,I,NaN,835,SOUTHWEST,SHIPLEY HILL,39.2888,-76.6565,"(39.2888,-76.6565)",ROW/TOWNHOUSE-OCC,NaN,1,NaN,BURG. RES. (FORCE)
4,1.428857e+06,591940.456169,197693,2017/08/09 14:00:00+00,6J,0 S CASTLE ST,LARCENY,NaN,NaN,212,SOUTHEAST,BUTCHER'S HILL,39.2913,-76.5883,"(39.2913,-76.5883)",NaN,NaN,1,NaN,LARCENY- OTHER
5,1.400349e+06,594122.295203,493126,2011/07/02 04:00:00+00,6J,1000 KEVIN RD,LARCENY,O,NaN,822,SOUTHWEST,ROGNEL HEIGHTS,39.2976,-76.6890,"(39.2976,-76.689)",PORCH/DECK,NaN,1,NaN,LARCENY- OTHER
6,1.429773e+06,614673.177011,304753,2015/06/22 00:00:00+00,6D,1600 BURNWOOD RD,LARCENY FROM AUTO,O,NaN,415,NORTHEAST,PERRING LOCH,39.3537,-76.5847,"(39.3537,-76.5847)",STREET,NaN,1,NaN,LARCENY- FROM AUTO
7,1.430571e+06,594716.443204,364828,2014/02/27 02:20:00+00,4E,2500 E MONUMENT ST,COMMON ASSAULT,O,NaN,333,EASTERN,MILTON-MONTFORD,39.2989,-76.5822,"(39.2989,-76.5822)",STREET,Eastern 2,1,NaN,COMMON ASSAULT
8,1.421926e+06,591290.924311,513862,2011/01/24 15:32:00+00,3M,100 E BALTIMORE ST,ROBBERY - COMMERCIAL,I,NaN,111,CENTRAL,DOWNTOWN,39.2896,-76.6128,"(39.2896,-76.6128)",BANK/FINANCIAL INST,NaN,1,NaN,ROBB BANK (UA)
9,1.421236e+06,600393.939155,268764,2016/03/24 17:28:00+00,4B,2200 SAINT PAUL ST,AGG. ASSAULT,I,KNIFE,514,NORTHERN,BARCLAY,39.3146,-76.6151,"(39.3146,-76.6151)",APT/CONDO - OCCUPIED,NaN,1,NaN,AGG. ASSLT.- CUT

In [176]:
#Ansalyse merged dataset
crime_merged_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 516635 entries, 0 to 516634
Data columns (total 20 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   ï»¿X             515747 non-null  float64
 1   Y                515747 non-null  float64
 2   RowID            516635 non-null  int64
 3   CrimeDateTime    516635 non-null  object
 4   CrimeCode        516635 non-null  object
 5   Location         514081 non-null  object
 6   Description      516635 non-null  object
 7   Inside_Outside   442718 non-null  object
 8   Weapon           107334 non-null  object
 9   Post             514896 non-null  object
 10  District         514896 non-null  object
 11  Neighborhood     514865 non-null  object
 12  Latitude         515747 non-null  float64
 13  Longitude        515747 non-null  float64
 14  GeoLocation      516635 non-null  object
 15  Premise          442382 non-null  object
 16  VRIName          60400 non-null   object
 17  Total_Incidents  516635 non-null  int64
 18  Shape            0 non-null       float64
 19  CrimeName        515249 non-null  object
dtypes: float64(5), int64(2), object(13)
memory usage: 78.8+ MB

In [177]:
#Identifying null value count
crime_merged_data.isnull().sum()

ï»¿X                  888
Y                     888
RowID                   0
CrimeDateTime           0
CrimeCode               0
Location             2554
Description             0
Inside_Outside      73917
Weapon             409301
Post                 1739
District             1739
Neighborhood         1770
Latitude              888
Longitude             888
GeoLocation             0
Premise             74253
VRIName            456235
Total_Incidents         0
Shape              516635
CrimeName            1386
dtype: int64

In [178]:
# Replace NaN as Unknown
crime_merged_data.replace(np.nan, "Unknown", inplace=True)

In [179]:
#Seperating time and date into two columns
crime_merged_data['CrimeDate'] = pd.to_datetime(crime_merged_data["CrimeDateTime"], errors="coerce").dt.date
crime_merged_data['CrimeTime'] = pd.to_datetime(crime_merged_data["CrimeDateTime"], errors="coerce").dt.time

crime_merged_data.head()

,ï»¿X,Y,RowID,CrimeDateTime,CrimeCode,Location,Description,Inside_Outside,Weapon,Post,...,Latitude,Longitude,GeoLocation,Premise,VRIName,Total_Incidents,Shape,CrimeName,CrimeDate,CrimeTime
0,1402370.886815,598536.52334,68727,2020/05/09 20:00:00+00,6D,3700 CHESHOLM RD,LARCENY FROM AUTO,O,Unknown,812,...,39.3097,-76.6818,"(39.3097,-76.6818)",STREET,Unknown,1,Unknown,LARCENY- FROM AUTO,2020-05-09,20:00:00
1,1413667.672417,596830.031062,285686,2015/11/01 02:00:00+00,7A,1300 N STRICKER ST,AUTO THEFT,O,Unknown,724,...,39.3049,-76.6419,"(39.3049,-76.6419)",STREET,Unknown,1,Unknown,STOLEN AUTO,2015-11-01,02:00:00
2,1399887.503931,588220.126897,465873,2012/01/15 16:30:00+00,4C,4500 FREDERICK AVE,AGG. ASSAULT,O,OTHER,822,...,39.2814,-76.6907,"(39.2814,-76.6907)",STREET,Unknown,1,Unknown,AGG. ASSLT.- OTH.,2012-01-15,16:30:00
3,1409558.308972,590950.039225,163100,2018/04/27 12:00:00+00,5A,0 N CATHERINE ST,BURGLARY,I,Unknown,835,...,39.2888,-76.6565,"(39.2888,-76.6565)",ROW/TOWNHOUSE-OCC,Unknown,1,Unknown,BURG. RES. (FORCE),2018-04-27,12:00:00
4,1428857.426745,591940.456169,197693,2017/08/09 14:00:00+00,6J,0 S CASTLE ST,LARCENY,Unknown,Unknown,212,...,39.2913,-76.5883,"(39.2913,-76.5883)",Unknown,Unknown,1,Unknown,LARCENY- OTHER,2017-08-09,14:00:00

In [180]:
#Identifying null count for each column
crime_merged_data.isnull().sum()

ï»¿X               0
Y                  0
RowID              0
CrimeDateTime      0
CrimeCode          0
Location           0
Description        0
Inside_Outside     0
Weapon             0
Post               0
District           0
Neighborhood       0
Latitude           0
Longitude          0
GeoLocation        0
Premise            0
VRIName            0
Total_Incidents    0
Shape              0
CrimeName          0
CrimeDate          2
CrimeTime          2
dtype: int64

In [181]:
# Find duplicate rows
duplicate_rows = crime_merged_data[crime_merged_data.duplicated()]

# Print the duplicate rows
print("Duplicate rows:")
print(duplicate_rows)

# Count the number of duplicate rows
print(f"\nNumber of duplicate rows: {len(duplicate_rows)}")

Duplicate rows:
Empty DataFrame
Columns: [ï»¿X, Y, RowID, CrimeDateTime, CrimeCode, Location, Description, Inside_Outside, Weapon, Post, District, Neighborhood, Latitude, Longitude, GeoLocation, Premise, VRIName, Total_Incidents, Shape, CrimeName, CrimeDate, CrimeTime]
Index: []

[0 rows x 22 columns]

Number of duplicate rows: 0

In [182]:
# Categories for premises
crime_merged_data["Premise"].value_counts()

Premise
STREET                  160900
ROW/TOWNHOUSE-OCC        97879
Unknown                  74253
APT/CONDO - OCCUPIED     21148
OTHER - INSIDE           17495
                         ...
MARKET STALLS                1
FIRE DEPARTMENT              1
BAKERY                       1
DOCTORS OFFICE               1
SUBWAY                       1
Name: count, Length: 165, dtype: int64

In [183]:
# Summarizing Crime Time to lie between an hour
crime_merged_data["CrimeTime"].value_counts()

CrimeTime
18:00:00    11793
17:00:00    11554
12:00:00    10644
16:00:00    10623
20:00:00    10424
            ...
08:35:28        1
15:00:34        1
02:55:18        1
05:41:23        1
22:59:47        1
Name: count, Length: 3376, dtype: int64

In [184]:
from datetime import datetime, timedelta

# Function to convert time to a 1-hour range
def time_to_range(time_obj):
    try:
        # Convert the time object to a string
        time_str = str(time_obj)

        # Parse the string to a datetime object
        time = datetime.strptime(time_str, "%H:%M:%S")

        # Get the start and end times of the range
        start_time = time.replace(minute=0, second=0)
        end_time = start_time + timedelta(hours=2)
        return f"{start_time.time()} - {end_time.time()}"
    except ValueError:
        return time_str

# Apply the function
crime_merged_data["Time_Range"] = crime_merged_data["CrimeTime"].astype(str).apply(time_to_range)

In [185]:
# Applying function to time range
crime_merged_data["Time_Range"].value_counts()

Time_Range
18:00:00 - 20:00:00    30434
17:00:00 - 19:00:00    29641
20:00:00 - 22:00:00    28389
15:00:00 - 17:00:00    28308
16:00:00 - 18:00:00    28264
21:00:00 - 23:00:00    28205
19:00:00 - 21:00:00    28105
22:00:00 - 00:00:00    26953
00:00:00 - 02:00:00    26267
12:00:00 - 14:00:00    25917
23:00:00 - 01:00:00    25433
14:00:00 - 16:00:00    24141
13:00:00 - 15:00:00    22523
11:00:00 - 13:00:00    20583
01:00:00 - 03:00:00    20487
10:00:00 - 12:00:00    19785
09:00:00 - 11:00:00    18258
08:00:00 - 10:00:00    17837
02:00:00 - 04:00:00    15827
07:00:00 - 09:00:00    13686
03:00:00 - 05:00:00    11511
06:00:00 - 08:00:00     9135
04:00:00 - 06:00:00     9015
05:00:00 - 07:00:00     7929
NaT                        2
Name: count, dtype: int64

In [186]:
crime_merged_data["Time_Range"] = crime_merged_data["Time_Range"].astype(str)
crime_merged_data["Time_Range"].value_counts()

Time_Range
18:00:00 - 20:00:00    30434
17:00:00 - 19:00:00    29641
20:00:00 - 22:00:00    28389
15:00:00 - 17:00:00    28308
16:00:00 - 18:00:00    28264
21:00:00 - 23:00:00    28205
19:00:00 - 21:00:00    28105
22:00:00 - 00:00:00    26953
00:00:00 - 02:00:00    26267
12:00:00 - 14:00:00    25917
23:00:00 - 01:00:00    25433
14:00:00 - 16:00:00    24141
13:00:00 - 15:00:00    22523
11:00:00 - 13:00:00    20583
01:00:00 - 03:00:00    20487
10:00:00 - 12:00:00    19785
09:00:00 - 11:00:00    18258
08:00:00 - 10:00:00    17837
02:00:00 - 04:00:00    15827
07:00:00 - 09:00:00    13686
03:00:00 - 05:00:00    11511
06:00:00 - 08:00:00     9135
04:00:00 - 06:00:00     9015
05:00:00 - 07:00:00     7929
NaT                        2
Name: count, dtype: int64

In [ ]:
# Function to classify time ranges
def set_time_range(time_range):
    if time_range == "Unknown":
        return "Unknown"

    # Extract start time from the range
    start_time_str = time_range.split(" - ")[0]

    # Convert to datetime time object
    try:
        start_time = pd.to_datetime(start_time_str, format='%H:%M:%S').time()
    except ValueError:
        return "Unknown"

    # Classify time into categories
    if start_time >= pd.to_datetime("06:00:00").time() and start_time < pd.to_datetime("12:00:00").time():
        return "Morning"
    elif start_time >= pd.to_datetime("12:00:00").time() and start_time < pd.to_datetime("18:00:00").time():
        return "Afternoon"
    elif start_time >= pd.to_datetime("18:00:00").time() and start_time < pd.to_datetime("21:00:00").time():
        return "Evening"
    elif start_time >= pd.to_datetime("21:00:00").time() and start_time <= pd.to_datetime("23:59:59").time():
        return "Night"
    elif start_time >= pd.to_datetime("00:00:00").time() and start_time < pd.to_datetime("06:00:00").time():
        return "Late Night"

    return "Unknown"

# Apply function to classify time categories
crime_merged_data["Time_Category"] = crime_merged_data["Time_Range"].apply(set_time_range)

In [ ]:
# Displat time categories
crime_merged_data["Time_Category"].value_counts()

In [ ]:
def get_season(date_str):
    try:
        date = pd.to_datetime(date_str, errors="coerce")

        month = date.month
        if month in [3, 4, 5]:
            return "Spring"
        elif month in [6, 7, 8]:
            return "Summer"
        elif month in [9, 10, 11]:
            return "Autumn"
        else:
            return "Winter"
    except Exception as e:
        return "Unknown"

# Apply function to dataset
crime_merged_data["Season"] = crime_merged_data["CrimeDate"].apply(get_season)

In [ ]:
# Renaming Inside_Outside column
crime_merged_data = crime_merged_data.rename(columns={"Inside_Outside": "Inside/Outside"})
crime_merged_data.head()

In [ ]:
crime_merged_data.info()

In [ ]:
# Dropping unnecessary columns
crime_merged_data = crime_merged_data.drop(["ï»¿X","CrimeCode","Y","RowID","CrimeTime","CrimeDate","Total_Incidents","Weapon","Post","Location","CrimeDateTime","Latitude","Longitude","GeoLocation","VRIName","Shape"],axis=1,errors="ignore")
crime_merged_data.head(10)

In [ ]:
from sklearn.preprocessing import LabelEncoder

# Initialize LabelEncoder
label_encoder = LabelEncoder()

# Encoding categorical columns
categorical_cols = ["Inside/Outside","District","CrimeName","Premise","Time_Range","Season","Neighborhood","Time_Category"]

# Apply label encoding to each column
for col in categorical_cols:
    crime_merged_data[col] = label_encoder.fit_transform(crime_merged_data[col])

crime_merged_data.head()

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

# Initialize vectorizer
tfidf = TfidfVectorizer(stop_words='english')

# Fit-transform description and neighborhood
desc_vectors = tfidf.fit_transform(crime_merged_data["Description"].astype(str))

# Convert to DataFrame
desc_df = pd.DataFrame(desc_vectors.toarray(), columns=tfidf.get_feature_names_out())


# Merge with the main dataset
crime_merged_data = pd.concat([crime_merged_data, desc_df], axis=1)

In [ ]:
crime_merged_data = crime_merged_data.drop(["Description"],axis=1,errors="ignore")
crime_merged_data.head()

In [ ]:
crime_merged_data.info()

Feature Engineering

In [ ]:
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt


# Assuming crime_merged_data is already loaded
crime_merged_data_sample = crime_merged_data.sample(frac=1, random_state=42)

# Define features and multi-output targets
X = crime_merged_data_sample.drop(columns=["CrimeName", "Time_Range"])
y = crime_merged_data_sample[["CrimeName", "Time_Range"]]

# Split data into train and test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

print(f"Training set size: {X_train.shape}")
print(f"Test set size: {X_test.shape}")

# Standardize features
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Apply PCA with 95% variance retention
pca = PCA(n_components=0.95)
X_train_pca = pca.fit_transform(X_train_scaled)
X_test_pca = pca.transform(X_test_scaled)

# Plot PCA explained variance
plt.plot(range(1, len(pca.explained_variance_ratio_) + 1), pca.explained_variance_ratio_.cumsum(), marker='o')
plt.xlabel('Number of PCA Components')
plt.ylabel('Cumulative Explained Variance')
plt.title('PCA Explained Variance')
plt.show()

Model Development

In [ ]:
from sklearn.multioutput import MultiOutputClassifier
from sklearn.metrics import accuracy_score, classification_report
import xgboost as xgb

# Initialize base XGBoost classifier
xgb_base = xgb.XGBClassifier(
    objective='multi:softmax',
    eval_metric='mlogloss',
    use_label_encoder=False,
    n_estimators=100,
    learning_rate=0.1,
    max_depth=6,
    subsample=0.8,
    colsample_bytree=0.8
)


multi_output_xgb = MultiOutputClassifier(xgb_base)

# Train the model
multi_output_xgb.fit(X_train_pca, y_train)

# Predict on test data
y_pred = multi_output_xgb.predict(X_test_pca)

# Evaluate the model
accuracy_crime = accuracy_score(y_test["CrimeName"], y_pred[:, 0])
accuracy_time = accuracy_score(y_test["Time_Range"], y_pred[:, 1])

print(f"CrimeName Prediction Accuracy: {accuracy_crime:.4f}")
print(f"TimeRange Prediction Accuracy: {accuracy_time:.4f}")

print("\nClassification Report for CrimeName:")
print(classification_report(y_test["CrimeName"], y_pred[:, 0]))

print("\nClassification Report for TimeRange:")
print(classification_report(y_test["Time_Range"], y_pred[:, 1]))