<a href="https://colab.research.google.com/github/DilshanBotheju/CSACP-Project/blob/dilshan/DSGP_SVM_(2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Data Preprocessing**

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Crime Dataset

In [3]:
import numpy as np
import pandas as pd

In [4]:
#Load relevant datasets
crime_data_path = "/content/drive/MyDrive/DSGP/Baltimore_Part1_Crime_data.csv"
crime_data = pd.read_csv(crime_data_path, encoding = "latin-1")
crime_data.head()

,ï»¿X,Y,RowID,CrimeDateTime,CrimeCode,Location,Description,Inside_Outside,Weapon,Post,District,Neighborhood,Latitude,Longitude,GeoLocation,Premise,VRIName,Total_Incidents,Shape
0,1.442562e+06,590731.068662,1,2022/04/01 09:31:00+00,6G,6300 EASTERN AVE,LARCENY,NaN,NaN,232,SOUTHEAST,BAYVIEW,39.2878,-76.5399,"(39.2878,-76.5399)",NaN,NaN,1,NaN
1,1.425428e+06,599464.931734,2,2022/04/01 11:00:00+00,6J,1300 E NORTH AVE,LARCENY,NaN,NaN,312,EASTERN,EAST BALTIMORE MIDWAY,39.3120,-76.6003,"(39.312,-76.6003)",NaN,Eastern 1,1,NaN
2,1.417097e+06,588539.130322,3,2022/04/01 00:01:00+00,6D,800 CARROLL ST,LARCENY FROM AUTO,NaN,NaN,932,SOUTHERN,WASHINGTON VILLAGE/PIGTOWN,39.2821,-76.6299,"(39.2821,-76.6299)",NaN,NaN,1,NaN
3,1.431878e+06,587437.730818,4,2022/04/01 18:00:00+00,6F,2700 LIGHTHOUSE PT E,LARCENY,NaN,NaN,214,SOUTHEAST,CANTON,39.2789,-76.5777,"(39.2789,-76.5777)",NaN,NaN,1,NaN
4,1.433804e+06,593238.069583,5,2022/04/01 21:00:00+00,3GF,3300 E FAYETTE ST,ROBBERY - COMMERCIAL,NaN,HANDGUN,222,SOUTHEAST,PATTERSON PARK NEIGHBORHOOD,39.2948,-76.5708,"(39.2948,-76.5708)",NaN,NaN,1,NaN

In [5]:
# Identifying shape of the dataset
crime_data.shape

(516635, 19)

In [6]:
# Analyisng crime dataset
crime_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 516635 entries, 0 to 516634
Data columns (total 19 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   ï»¿X             515747 non-null  float64
 1   Y                515747 non-null  float64
 2   RowID            516635 non-null  int64
 3   CrimeDateTime    516635 non-null  object
 4   CrimeCode        516635 non-null  object
 5   Location         514081 non-null  object
 6   Description      516635 non-null  object
 7   Inside_Outside   442718 non-null  object
 8   Weapon           107334 non-null  object
 9   Post             514896 non-null  object
 10  District         514896 non-null  object
 11  Neighborhood     514865 non-null  object
 12  Latitude         515747 non-null  float64
 13  Longitude        515747 non-null  float64
 14  GeoLocation      516635 non-null  object
 15  Premise          442382 non-null  object
 16  VRIName          60400 non-null   object
 17  Total_Incidents  516635 non-null  int64
 18  Shape            0 non-null       float64
dtypes: float64(5), int64(2), object(12)
memory usage: 74.9+ MB

In [7]:
crime_codes_path = "/content/drive/MyDrive/DSGP/BALTIMORE_CRIME_CODES.csv"
crime_codes = pd.read_csv(crime_codes_path, encoding = "latin-1")
crime_codes.head()

,CODE,TYPE,NAME,CLASS,NAME_COMBINE,WEAPON,VIOLENT_CR,VIO_PROP_CFS
0,13,CTYP,ASSIST OFFICER,CFS,ASSIST OFFICER,NaN,NaN,OTHER
1,1A,CTYP,MURDER,PART 1,HOMICIDE,OTHER,HOMICIDE,VIOLENT
2,1F,CTYP,MURDER,PART 1,HOMICIDE,FIREARM,HOMICIDE,VIOLENT
3,1K,CTYP,MURDER,PART 1,HOMICIDE,KNIFE,HOMICIDE,VIOLENT
4,1O,CTYP,MURDER,PART 1,HOMICIDE,OTHER,HOMICIDE,VIOLENT

In [8]:
crime_codes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 203 entries, 0 to 202
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   CODE          203 non-null    object
 1   TYPE          203 non-null    object
 2   NAME          202 non-null    object
 3   CLASS         202 non-null    object
 4   NAME_COMBINE  202 non-null    object
 5   WEAPON        45 non-null     object
 6   VIOLENT_CR    103 non-null    object
 7   VIO_PROP_CFS  203 non-null    object
dtypes: object(8)
memory usage: 12.8+ KB

In [9]:
# Drop unnecessary columns from crime codes dataset
crime_codes = crime_codes.drop(["TYPE","CLASS","WEAPON","VIOLENT_CR","NAME_COMBINE","VIO_PROP_CFS"],axis=1,errors="ignore")
crime_codes.head(20)

   CODE                  NAME
0    13  ASSIST OFFICER
1    1A  MURDER
2    1F  MURDER
3    1K                MURDER
4    1O                MURDER
5   20A  FOLLOWUP
6   20B  FOOT PATROL
7   20C  BANK CHECK
8   20D  DETAIL
9   20E  COURT
10  20F  WARRANT
11  20G  REPAIRS/SERVICE
12  20H  TRAFFIC CONTROL
13  20J  TRANSPORT
14  20K  ESCORT
15  20L  LUNCH
16  20M  PERSONAL RELIEF
17  20N  SCHOOL/CHURCH
18  20R  OUT-OF-VEHICLES
19  20S  SUPERVISOR COMP

In [10]:
#Renaming column names
crime_codes = crime_codes.rename(columns={"CODE": "CrimeCode", "NAME": "CrimeName"})

# Merge the datasets to map codes to names
crime_merged_data = pd.merge(crime_data, crime_codes[["CrimeCode", "CrimeName"]], on="CrimeCode", how="left")
crime_merged_data.head()

,ï»¿X,Y,RowID,CrimeDateTime,CrimeCode,Location,Description,Inside_Outside,Weapon,Post,District,Neighborhood,Latitude,Longitude,GeoLocation,Premise,VRIName,Total_Incidents,Shape,CrimeName
0,1.442562e+06,590731.068662,1,2022/04/01 09:31:00+00,6G,6300 EASTERN AVE,LARCENY,NaN,NaN,232,SOUTHEAST,BAYVIEW,39.2878,-76.5399,"(39.2878,-76.5399)",NaN,NaN,1,NaN,LARCENY- FROM BLDG.
1,1.425428e+06,599464.931734,2,2022/04/01 11:00:00+00,6J,1300 E NORTH AVE,LARCENY,NaN,NaN,312,EASTERN,EAST BALTIMORE MIDWAY,39.3120,-76.6003,"(39.312,-76.6003)",NaN,Eastern 1,1,NaN,LARCENY- OTHER
2,1.417097e+06,588539.130322,3,2022/04/01 00:01:00+00,6D,800 CARROLL ST,LARCENY FROM AUTO,NaN,NaN,932,SOUTHERN,WASHINGTON VILLAGE/PIGTOWN,39.2821,-76.6299,"(39.2821,-76.6299)",NaN,NaN,1,NaN,LARCENY- FROM AUTO
3,1.431878e+06,587437.730818,4,2022/04/01 18:00:00+00,6F,2700 LIGHTHOUSE PT E,LARCENY,NaN,NaN,214,SOUTHEAST,CANTON,39.2789,-76.5777,"(39.2789,-76.5777)",NaN,NaN,1,NaN,LARCENY- BICYCLE
4,1.433804e+06,593238.069583,5,2022/04/01 21:00:00+00,3GF,3300 E FAYETTE ST,ROBBERY - COMMERCIAL,NaN,HANDGUN,222,SOUTHEAST,PATTERSON PARK NEIGHBORHOOD,39.2948,-76.5708,"(39.2948,-76.5708)",NaN,NaN,1,NaN,ROBB CONV STORE FIREARM

In [11]:
#Ansalyse merged dataset
crime_merged_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 516635 entries, 0 to 516634
Data columns (total 20 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   ï»¿X             515747 non-null  float64
 1   Y                515747 non-null  float64
 2   RowID            516635 non-null  int64
 3   CrimeDateTime    516635 non-null  object
 4   CrimeCode        516635 non-null  object
 5   Location         514081 non-null  object
 6   Description      516635 non-null  object
 7   Inside_Outside   442718 non-null  object
 8   Weapon           107334 non-null  object
 9   Post             514896 non-null  object
 10  District         514896 non-null  object
 11  Neighborhood     514865 non-null  object
 12  Latitude         515747 non-null  float64
 13  Longitude        515747 non-null  float64
 14  GeoLocation      516635 non-null  object
 15  Premise          442382 non-null  object
 16  VRIName          60400 non-null   object
 17  Total_Incidents  516635 non-null  int64
 18  Shape            0 non-null       float64
 19  CrimeName        515249 non-null  object
dtypes: float64(5), int64(2), object(13)
memory usage: 78.8+ MB

In [12]:
#Identifying null value count
crime_merged_data.isnull().sum()

ï»¿X                  888
Y                     888
RowID                   0
CrimeDateTime           0
CrimeCode               0
Location             2554
Description             0
Inside_Outside      73917
Weapon             409301
Post                 1739
District             1739
Neighborhood         1770
Latitude              888
Longitude             888
GeoLocation             0
Premise             74253
VRIName            456235
Total_Incidents         0
Shape              516635
CrimeName            1386
dtype: int64

In [13]:
#Seperating time and date into two columns
crime_merged_data['CrimeDate'] = pd.to_datetime(crime_merged_data["CrimeDateTime"], errors="coerce").dt.date
crime_merged_data['CrimeTime'] = pd.to_datetime(crime_merged_data["CrimeDateTime"], errors="coerce").dt.time

crime_merged_data.head()

,ï»¿X,Y,RowID,CrimeDateTime,CrimeCode,Location,Description,Inside_Outside,Weapon,Post,...,Latitude,Longitude,GeoLocation,Premise,VRIName,Total_Incidents,Shape,CrimeName,CrimeDate,CrimeTime
0,1.442562e+06,590731.068662,1,2022/04/01 09:31:00+00,6G,6300 EASTERN AVE,LARCENY,NaN,NaN,232,...,39.2878,-76.5399,"(39.2878,-76.5399)",NaN,NaN,1,NaN,LARCENY- FROM BLDG.,2022-04-01,09:31:00
1,1.425428e+06,599464.931734,2,2022/04/01 11:00:00+00,6J,1300 E NORTH AVE,LARCENY,NaN,NaN,312,...,39.3120,-76.6003,"(39.312,-76.6003)",NaN,Eastern 1,1,NaN,LARCENY- OTHER,2022-04-01,11:00:00
2,1.417097e+06,588539.130322,3,2022/04/01 00:01:00+00,6D,800 CARROLL ST,LARCENY FROM AUTO,NaN,NaN,932,...,39.2821,-76.6299,"(39.2821,-76.6299)",NaN,NaN,1,NaN,LARCENY- FROM AUTO,2022-04-01,00:01:00
3,1.431878e+06,587437.730818,4,2022/04/01 18:00:00+00,6F,2700 LIGHTHOUSE PT E,LARCENY,NaN,NaN,214,...,39.2789,-76.5777,"(39.2789,-76.5777)",NaN,NaN,1,NaN,LARCENY- BICYCLE,2022-04-01,18:00:00
4,1.433804e+06,593238.069583,5,2022/04/01 21:00:00+00,3GF,3300 E FAYETTE ST,ROBBERY - COMMERCIAL,NaN,HANDGUN,222,...,39.2948,-76.5708,"(39.2948,-76.5708)",NaN,NaN,1,NaN,ROBB CONV STORE FIREARM,2022-04-01,21:00:00

In [14]:
#Identifying null count for each column
crime_merged_data.isnull().sum()

ï»¿X                  888
Y                     888
RowID                   0
CrimeDateTime           0
CrimeCode               0
Location             2554
Description             0
Inside_Outside      73917
Weapon             409301
Post                 1739
District             1739
Neighborhood         1770
Latitude              888
Longitude             888
GeoLocation             0
Premise             74253
VRIName            456235
Total_Incidents         0
Shape              516635
CrimeName            1386
CrimeDate               2
CrimeTime               2
dtype: int64

In [15]:
# Replacing null values as Unknown
crime_merged_data= crime_merged_data.fillna("Unknown")

In [16]:
# Find duplicate rows
duplicate_rows = crime_merged_data[crime_merged_data.duplicated()]

# Print the duplicate rows
print("Duplicate rows:")
print(duplicate_rows)

# Count the number of duplicate rows
print(f"\nNumber of duplicate rows: {len(duplicate_rows)}")

Duplicate rows:
Empty DataFrame
Columns: [ï»¿X, Y, RowID, CrimeDateTime, CrimeCode, Location, Description, Inside_Outside, Weapon, Post, District, Neighborhood, Latitude, Longitude, GeoLocation, Premise, VRIName, Total_Incidents, Shape, CrimeName, CrimeDate, CrimeTime]
Index: []

[0 rows x 22 columns]

Number of duplicate rows: 0

In [17]:
# Categories for premises
crime_merged_data["Premise"].value_counts()

Premise
STREET                  160900
ROW/TOWNHOUSE-OCC        97879
Unknown                  74253
APT/CONDO - OCCUPIED     21148
OTHER - INSIDE           17495
                         ...
BAKERY                       1
MARKET STALLS                1
DOCTORS OFFICE               1
RENTAL/VIDEO STORE           1
FIRE DEPARTMENT              1
Name: count, Length: 165, dtype: int64

In [18]:
# Summarizing Crime Time to lie between an hour
crime_merged_data["CrimeTime"].value_counts()

CrimeTime
18:00:00    11793
17:00:00    11554
12:00:00    10644
16:00:00    10623
20:00:00    10424
            ...
14:43:20        1
20:08:47        1
23:11:37        1
12:55:58        1
23:35:13        1
Name: count, Length: 3377, dtype: int64

In [21]:
from datetime import datetime, timedelta

# Function to convert time to a 1-hour range
def time_to_range(time_obj):
    try:
        # Convert the time object to a string
        time_str = str(time_obj)

        # Parse the string to a datetime object
        time = datetime.strptime(time_str, "%H:%M:%S")

        # Get the start and end times of the range
        start_time = time.replace(minute=0, second=0)
        end_time = start_time + timedelta(hours=1)
        return f"{start_time.time()} - {end_time.time()}"
    except ValueError:
        return time_str

# Apply the function
crime_merged_data["Time Range"] = crime_merged_data["CrimeTime"].astype(str).apply(time_to_range)

In [22]:
# Renaming Inside_Outside column
crime_merged_data = crime_merged_data.rename(columns={"Inside_Outside": "Inside/Outside"})
crime_merged_data.head()

,ï»¿X,Y,RowID,CrimeDateTime,CrimeCode,Location,Description,Inside/Outside,Weapon,Post,...,Longitude,GeoLocation,Premise,VRIName,Total_Incidents,Shape,CrimeName,CrimeDate,CrimeTime,Time Range
0,1442562.392676,590731.068662,1,2022/04/01 09:31:00+00,6G,6300 EASTERN AVE,LARCENY,Unknown,Unknown,232,...,-76.5399,"(39.2878,-76.5399)",Unknown,Unknown,1,Unknown,LARCENY- FROM BLDG.,2022-04-01,09:31:00,09:00:00 - 10:00:00
1,1425428.077606,599464.931734,2,2022/04/01 11:00:00+00,6J,1300 E NORTH AVE,LARCENY,Unknown,Unknown,312,...,-76.6003,"(39.312,-76.6003)",Unknown,Eastern 1,1,Unknown,LARCENY- OTHER,2022-04-01,11:00:00,11:00:00 - 12:00:00
2,1417097.033148,588539.130322,3,2022/04/01 00:01:00+00,6D,800 CARROLL ST,LARCENY FROM AUTO,Unknown,Unknown,932,...,-76.6299,"(39.2821,-76.6299)",Unknown,Unknown,1,Unknown,LARCENY- FROM AUTO,2022-04-01,00:01:00,00:00:00 - 01:00:00
3,1431878.41635,587437.730818,4,2022/04/01 18:00:00+00,6F,2700 LIGHTHOUSE PT E,LARCENY,Unknown,Unknown,214,...,-76.5777,"(39.2789,-76.5777)",Unknown,Unknown,1,Unknown,LARCENY- BICYCLE,2022-04-01,18:00:00,18:00:00 - 19:00:00
4,1433804.421945,593238.069583,5,2022/04/01 21:00:00+00,3GF,3300 E FAYETTE ST,ROBBERY - COMMERCIAL,Unknown,HANDGUN,222,...,-76.5708,"(39.2948,-76.5708)",Unknown,Unknown,1,Unknown,ROBB CONV STORE FIREARM,2022-04-01,21:00:00,21:00:00 - 22:00:00

In [23]:
# Dropping unnecessary columns
crime_merged_data = crime_merged_data.drop(["ï»¿X","Y","RowID","Weapon","Post","Location","CrimeDateTime","District","Neighborhood","Latitude","Longitude","GeoLocation","VRIName","Total_Incidents","Shape"],axis=1,errors="ignore")
crime_merged_data.head(10)

,CrimeCode,Description,Inside/Outside,Premise,CrimeName,CrimeDate,CrimeTime,Time Range
0,6G,LARCENY,Unknown,Unknown,LARCENY- FROM BLDG.,2022-04-01,09:31:00,09:00:00 - 10:00:00
1,6J,LARCENY,Unknown,Unknown,LARCENY- OTHER,2022-04-01,11:00:00,11:00:00 - 12:00:00
2,6D,LARCENY FROM AUTO,Unknown,Unknown,LARCENY- FROM AUTO,2022-04-01,00:01:00,00:00:00 - 01:00:00
3,6F,LARCENY,Unknown,Unknown,LARCENY- BICYCLE,2022-04-01,18:00:00,18:00:00 - 19:00:00
4,3GF,ROBBERY - COMMERCIAL,Unknown,Unknown,ROBB CONV STORE FIREARM,2022-04-01,21:00:00,21:00:00 - 22:00:00
5,6C,LARCENY,Unknown,Unknown,LARCENY- SHOPLIFTING,2022-04-01,13:00:00,13:00:00 - 14:00:00
6,4E,COMMON ASSAULT,Unknown,Unknown,COMMON ASSAULT,2022-04-01,16:33:00,16:00:00 - 17:00:00
7,4B,AGG. ASSAULT,Unknown,Unknown,AGG. ASSLT.- CUT,2022-04-01,16:33:00,16:00:00 - 17:00:00
8,4E,COMMON ASSAULT,Unknown,Unknown,COMMON ASSAULT,2022-04-01,16:23:00,16:00:00 - 17:00:00
9,4E,COMMON ASSAULT,Unknown,Unknown,COMMON ASSAULT,2022-04-01,20:58:00,20:00:00 - 21:00:00

In [24]:
crime_merged_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 516635 entries, 0 to 516634
Data columns (total 8 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   CrimeCode       516635 non-null  object
 1   Description     516635 non-null  object
 2   Inside/Outside  516635 non-null  object
 3   Premise         516635 non-null  object
 4   CrimeName       516635 non-null  object
 5   CrimeDate       516635 non-null  object
 6   CrimeTime       516635 non-null  object
 7   Time Range      516635 non-null  object
dtypes: object(8)
memory usage: 31.5+ MB

In [ ]:

from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.ensemble import RandomForestClassifier
from sklearn.multioutput import MultiOutputClassifier
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
from sklearn.compose import ColumnTransformer
from sklearn.metrics import accuracy_score


# Convert 'CrimeDate' to datetime, coercing invalid values to NaT
crime_merged_data['CrimeDate'] = pd.to_datetime(crime_merged_data['CrimeDate'], errors='coerce')

# Proceed with date and time feature extraction
crime_merged_data['Month'] = crime_merged_data['CrimeDate'].dt.month
crime_merged_data['Day'] = crime_merged_data['CrimeDate'].dt.day
crime_merged_data['Hour'] = pd.to_datetime(crime_merged_data['CrimeTime'], errors='coerce').dt.hour

# Define features and target variables
X = crime_merged_data[['Description','Inside/Outside', 'Premise', 'Month', 'Day', 'Hour']]
y = crime_merged_data[['CrimeCode', 'CrimeName', 'Time Range']]

X['Description'] = X['Description'].astype(str)

# Train-test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Label encoding for target variables
y_encoded_train = y_train.copy()
y_encoded_test = y_test.copy()
label_encoders = {}

for col in y.columns:
    le = LabelEncoder()
    y_encoded_train[col] = le.fit_transform(y_train[col])
    y_encoded_test[col] = le.transform(y_test[col])
    label_encoders[col] = le

# Feature preprocessing
# Apply vectorization to the 'Description' column
tfidf = TfidfVectorizer(stop_words="english")
X_train_desc_tfidf = tfidf.fit_transform(X_train['Description'])
X_test_desc_tfidf = tfidf.transform(X_test['Description'])

# Apply OneHotEncoding to 'Inside/Outside' and 'Premise' columns
encoder = OneHotEncoder(handle_unknown='ignore', sparse_output=False)
X_train_cat = encoder.fit_transform(X_train[['Inside/Outside', 'Premise']])
X_test_cat = encoder.transform(X_test[['Inside/Outside', 'Premise']])

# Combine numerical columns 'Month', 'Day', 'Hour'
X_train_num = X_train[['Month', 'Day', 'Hour']].values
X_test_num = X_test[['Month', 'Day', 'Hour']].values

# Combine all features together
X_train_final = np.hstack([X_train_desc_tfidf.toarray(), X_train_cat, X_train_num])
X_test_final = np.hstack([X_test_desc_tfidf.toarray(), X_test_cat, X_test_num])

# Train the model
model = MultiOutputClassifier(RandomForestClassifier(random_state=42))
model.fit(X_train_final, y_encoded_train)

# Predictions
y_pred = model.predict(X_test_final)

# Evaluate model
for i, col in enumerate(y.columns):
    acc = accuracy_score(y_encoded_test.iloc[:, i], y_pred[:, i])
    print(f"Accuracy for {col}: {acc:.2f}")

<ipython-input-25-f4f1da7ad99f>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['Description'] = X['Description'].astype(str)

Victim Dataset

In [124]:
# Loading dataset
victim_data_path = "/content/drive/MyDrive/DSGP/BPD_Part_1_Victim_Based_Crime_Data.csv"
victim_data = pd.read_csv(victim_data_path, encoding = "latin-1")
victim_data.head(30)

,CrimeDate,CrimeTime,CrimeCode,Location,Description,Inside/Outside,Weapon,Post,District,Neighborhood,Longitude,Latitude,Location 1,Premise,Total Incidents
0,09/02/2017,23:30:00,3JK,4200 AUDREY AVE,ROBBERY - RESIDENCE,I,KNIFE,913.0,SOUTHERN,Brooklyn,-76.60541,39.22951,"(39.2295100000, -76.6054100000)",ROW/TOWNHO,1
1,09/02/2017,23:00:00,7A,800 NEWINGTON AVE,AUTO THEFT,O,NaN,133.0,CENTRAL,Reservoir Hill,-76.63217,39.31360,"(39.3136000000, -76.6321700000)",STREET,1
2,09/02/2017,22:53:00,9S,600 RADNOR AV,SHOOTING,Outside,FIREARM,524.0,NORTHERN,Winston-Govans,-76.60697,39.34768,"(39.3476800000, -76.6069700000)",Street,1
3,09/02/2017,22:50:00,4C,1800 RAMSAY ST,AGG. ASSAULT,I,OTHER,934.0,SOUTHERN,Carrollton Ridge,-76.64526,39.28315,"(39.2831500000, -76.6452600000)",ROW/TOWNHO,1
4,09/02/2017,22:31:00,4E,100 LIGHT ST,COMMON ASSAULT,O,HANDS,113.0,CENTRAL,Downtown West,-76.61365,39.28756,"(39.2875600000, -76.6136500000)",STREET,1
5,09/02/2017,22:00:00,5A,CHERRYCREST RD,BURGLARY,I,NaN,922.0,SOUTHERN,Cherry Hill,-76.62131,39.24867,"(39.2486700000, -76.6213100000)",ROW/TOWNHO,1
6,09/02/2017,21:15:00,1F,3400 HARMONY CT,HOMICIDE,Outside,FIREARM,232.0,SOUTHEASTERN,Canton,-76.56827,39.28202,"(39.2820200000, -76.5682700000)",Street,1
7,09/02/2017,21:35:00,3B,400 W LANVALE ST,ROBBERY - STREET,O,NaN,123.0,CENTRAL,Upton,-76.62789,39.30254,"(39.3025400000, -76.6278900000)",STREET,1
8,09/02/2017,21:00:00,4C,2300 LYNDHURST AVE,AGG. ASSAULT,O,OTHER,641.0,NORTHWESTERN,Windsor Hills,-76.68365,39.31370,"(39.3137000000, -76.6836500000)",STREET,1
9,09/02/2017,21:00:00,4E,1200 N ELLWOOD AVE,COMMON ASSAULT,I,HANDS,332.0,EASTERN,Berea,-76.57419,39.30551,"(39.3055100000, -76.5741900000)",ROW/TOWNHO,1
10,09/02/2017,21:00:00,4C,2300 LYNDHURST AVE,AGG. ASSAULT,O,OTHER,641.0,NORTHWESTERN,Windsor Hills,-76.68365,39.31370,"(39.3137000000, -76.6836500000)",STREET,1
11,09/02/2017,20:56:00,3CF,3600 EDMONDSON AVE,ROBBERY - COMMERCIAL,I,FIREARM,844.0,SOUTHWESTERN,Edgewood,-76.67759,39.29402,"(39.2940200000, -76.6775900000)",RETAIL/SMA,1
12,09/02/2017,20:55:00,6C,5100 PARK HEIGHTS AVE,LARCENY,NaN,NaN,614.0,NORTHWESTERN,Central Park Heights,-76.67511,39.34861,"(39.3486100000, -76.6751100000)",NaN,1
13,09/02/2017,20:10:00,4C,3900 GWYNNS FALLS PKWY,AGG. ASSAULT,O,OTHER,641.0,NORTHWESTERN,Windsor Hills,-76.68169,39.31400,"(39.3140000000, -76.6816900000)",STREET,1
14,09/02/2017,20:00:00,6D,5500 SUMMERFIELD AVE,LARCENY FROM AUTO,O,NaN,444.0,NORTHEASTERN,Frankford,-76.54270,39.33288,"(39.3328800000, -76.5427000000)",YARD,1
15,09/02/2017,19:52:00,5D,2200 VAN DEMAN ST,BURGLARY,I,NaN,243.0,SOUTHEASTERN,Holabird Industrial Park,-76.53557,39.26533,"(39.2653300000, -76.5355700000)",OTHER - IN,1
16,09/02/2017,18:08:00,9S,1200 E LAFAYETTE AV,SHOOTING,Outside,FIREARM,343.0,EASTERN,Oliver,-76.60246,39.31038,"(39.3103800000, -76.6024600000)",Street,1
17,09/02/2017,18:08:00,1F,1200 E LAFAYETTE AV,HOMICIDE,Outside,FIREARM,343.0,EASTERN,Oliver,-76.60246,39.31038,"(39.3103800000, -76.6024600000)",Street,1
18,09/02/2017,18:16:00,4E,1000 N EUTAW ST,COMMON ASSAULT,O,HANDS,132.0,CENTRAL,Madison Park,-76.62256,39.30083,"(39.3008300000, -76.6225600000)",STREET,1
19,09/02/2017,18:00:00,6G,100 S BROADWAY,LARCENY,I,NaN,212.0,SOUTHEASTERN,Washington Hill,-76.59390,39.29020,"(39.2902000000, -76.5939000000)",CONVENIENC,1
20,09/02/2017,17:17:00,5A,4000 RIDGECROFT RD,BURGLARY,I,NaN,426.0,NORTHEASTERN,Waltherson,-76.55734,39.33643,"(39.3364300000, -76.5573400000)",ROW/TOWNHO,1
21,09/02/2017,16:55:00,3CF,600 HOMESTEAD ST,ROBBERY - COMMERCIAL,I,FIREARM,513.0,NORTHERN,Better Waverly,-76.60839,39.32712,"(39.3271200000, -76.6083900000)",RETAIL/SMA,1
22,09/02/2017,16:00:00,4C,2000 N BENTALOU ST,AGG. ASSAULT,O,OTHER,731.0,WESTERN,Mondawmin,-76.65422,39.31091,"(39.3109100000, -76.6542200000)",STREET,1
23,09/02/2017,15:46:00,3B,AV & REISTERSTOWN RD,ROBBERY - STREET,O,NaN,612.0,NORTHWESTERN,Park Circle,-76.66025,39.32887,"(39.3288700000, -76.6602500000)",STREET,1
24,09/02/2017,15:00:00,6D,PY & ECHODALE AV,LARCENY FROM AUTO,O,NaN,415.0,NORTHEASTERN,Morgan State University,-76.57584,39.35489,"(39.3548900000, -76.5758400000)",STREET,1
25,09/02/2017,15:00:00,6J,100 W LEXINGTON ST,LARCENY,I,NaN,111.0,CENTRAL,Downtown,-76.61729,39.29164,"(39.2916400000, -76.6172900000)",OFFICE BUI,1
26,09/02/2017,14:50:00,4E,4700 MELBOURNE RD,COMMON ASSAULT,I,HANDS,833.0,SOUTHWESTERN,Beechfield,-76.69447,39.27224,"(39.2722400000, -76.6944700000)",ROW/TOWNHO,1
27,09/02/2017,14:30:00,4E,300 LIGHT ST,COMMON ASSAULT,O,HANDS,112.0,CENTRAL,Inner Harbor,-76.61340,39.28544,"(39.2854400000, -76.6134000000)",STREET,1
28,09/02/2017,14:25:00,5B,600 S STREEPER ST,BURGLARY,I,NaN,232.0,SOUTHEASTERN,Canton,-76.57639,39.28498,"(39.2849800000, -76.5763900000)",ROW/TOWNHO,1
29,09/02/2017,13:48:00,4C,1700 E 30TH ST,AGG. ASSAULT,I,OTHER,411.0,NORTHEASTERN,Coldstream Homestead Mont,-76.59152,39.32537,"(39.3253700000, -76.5915200000)",ROW/TOWNHO,1

In [125]:
# Merge the datasets to map codes to names
victim_merged_data = pd.merge(victim_data, crime_codes[["CrimeCode", "CrimeName"]], on="CrimeCode", how="left")
victim_merged_data.head(30)

,CrimeDate,CrimeTime,CrimeCode,Location,Description,Inside/Outside,Weapon,Post,District,Neighborhood,Longitude,Latitude,Location 1,Premise,Total Incidents,CrimeName
0,09/02/2017,23:30:00,3JK,4200 AUDREY AVE,ROBBERY - RESIDENCE,I,KNIFE,913.0,SOUTHERN,Brooklyn,-76.60541,39.22951,"(39.2295100000, -76.6054100000)",ROW/TOWNHO,1,ROBB RESIDENCE KNIFE
1,09/02/2017,23:00:00,7A,800 NEWINGTON AVE,AUTO THEFT,O,NaN,133.0,CENTRAL,Reservoir Hill,-76.63217,39.31360,"(39.3136000000, -76.6321700000)",STREET,1,STOLEN AUTO
2,09/02/2017,22:53:00,9S,600 RADNOR AV,SHOOTING,Outside,FIREARM,524.0,NORTHERN,Winston-Govans,-76.60697,39.34768,"(39.3476800000, -76.6069700000)",Street,1,SHOOTING
3,09/02/2017,22:50:00,4C,1800 RAMSAY ST,AGG. ASSAULT,I,OTHER,934.0,SOUTHERN,Carrollton Ridge,-76.64526,39.28315,"(39.2831500000, -76.6452600000)",ROW/TOWNHO,1,AGG. ASSLT.- OTH.
4,09/02/2017,22:31:00,4E,100 LIGHT ST,COMMON ASSAULT,O,HANDS,113.0,CENTRAL,Downtown West,-76.61365,39.28756,"(39.2875600000, -76.6136500000)",STREET,1,COMMON ASSAULT
5,09/02/2017,22:00:00,5A,CHERRYCREST RD,BURGLARY,I,NaN,922.0,SOUTHERN,Cherry Hill,-76.62131,39.24867,"(39.2486700000, -76.6213100000)",ROW/TOWNHO,1,BURG. RES. (FORCE)
6,09/02/2017,21:15:00,1F,3400 HARMONY CT,HOMICIDE,Outside,FIREARM,232.0,SOUTHEASTERN,Canton,-76.56827,39.28202,"(39.2820200000, -76.5682700000)",Street,1,MURDER
7,09/02/2017,21:35:00,3B,400 W LANVALE ST,ROBBERY - STREET,O,NaN,123.0,CENTRAL,Upton,-76.62789,39.30254,"(39.3025400000, -76.6278900000)",STREET,1,ROBB HWY (UA)
8,09/02/2017,21:00:00,4C,2300 LYNDHURST AVE,AGG. ASSAULT,O,OTHER,641.0,NORTHWESTERN,Windsor Hills,-76.68365,39.31370,"(39.3137000000, -76.6836500000)",STREET,1,AGG. ASSLT.- OTH.
9,09/02/2017,21:00:00,4E,1200 N ELLWOOD AVE,COMMON ASSAULT,I,HANDS,332.0,EASTERN,Berea,-76.57419,39.30551,"(39.3055100000, -76.5741900000)",ROW/TOWNHO,1,COMMON ASSAULT
10,09/02/2017,21:00:00,4C,2300 LYNDHURST AVE,AGG. ASSAULT,O,OTHER,641.0,NORTHWESTERN,Windsor Hills,-76.68365,39.31370,"(39.3137000000, -76.6836500000)",STREET,1,AGG. ASSLT.- OTH.
11,09/02/2017,20:56:00,3CF,3600 EDMONDSON AVE,ROBBERY - COMMERCIAL,I,FIREARM,844.0,SOUTHWESTERN,Edgewood,-76.67759,39.29402,"(39.2940200000, -76.6775900000)",RETAIL/SMA,1,ROBB COMM FIREARM
12,09/02/2017,20:55:00,6C,5100 PARK HEIGHTS AVE,LARCENY,NaN,NaN,614.0,NORTHWESTERN,Central Park Heights,-76.67511,39.34861,"(39.3486100000, -76.6751100000)",NaN,1,LARCENY- SHOPLIFTING
13,09/02/2017,20:10:00,4C,3900 GWYNNS FALLS PKWY,AGG. ASSAULT,O,OTHER,641.0,NORTHWESTERN,Windsor Hills,-76.68169,39.31400,"(39.3140000000, -76.6816900000)",STREET,1,AGG. ASSLT.- OTH.
14,09/02/2017,20:00:00,6D,5500 SUMMERFIELD AVE,LARCENY FROM AUTO,O,NaN,444.0,NORTHEASTERN,Frankford,-76.54270,39.33288,"(39.3328800000, -76.5427000000)",YARD,1,LARCENY- FROM AUTO
15,09/02/2017,19:52:00,5D,2200 VAN DEMAN ST,BURGLARY,I,NaN,243.0,SOUTHEASTERN,Holabird Industrial Park,-76.53557,39.26533,"(39.2653300000, -76.5355700000)",OTHER - IN,1,BURG. OTH. (FORCE)
16,09/02/2017,18:08:00,9S,1200 E LAFAYETTE AV,SHOOTING,Outside,FIREARM,343.0,EASTERN,Oliver,-76.60246,39.31038,"(39.3103800000, -76.6024600000)",Street,1,SHOOTING
17,09/02/2017,18:08:00,1F,1200 E LAFAYETTE AV,HOMICIDE,Outside,FIREARM,343.0,EASTERN,Oliver,-76.60246,39.31038,"(39.3103800000, -76.6024600000)",Street,1,MURDER
18,09/02/2017,18:16:00,4E,1000 N EUTAW ST,COMMON ASSAULT,O,HANDS,132.0,CENTRAL,Madison Park,-76.62256,39.30083,"(39.3008300000, -76.6225600000)",STREET,1,COMMON ASSAULT
19,09/02/2017,18:00:00,6G,100 S BROADWAY,LARCENY,I,NaN,212.0,SOUTHEASTERN,Washington Hill,-76.59390,39.29020,"(39.2902000000, -76.5939000000)",CONVENIENC,1,LARCENY- FROM BLDG.
20,09/02/2017,17:17:00,5A,4000 RIDGECROFT RD,BURGLARY,I,NaN,426.0,NORTHEASTERN,Waltherson,-76.55734,39.33643,"(39.3364300000, -76.5573400000)",ROW/TOWNHO,1,BURG. RES. (FORCE)
21,09/02/2017,16:55:00,3CF,600 HOMESTEAD ST,ROBBERY - COMMERCIAL,I,FIREARM,513.0,NORTHERN,Better Waverly,-76.60839,39.32712,"(39.3271200000, -76.6083900000)",RETAIL/SMA,1,ROBB COMM FIREARM
22,09/02/2017,16:00:00,4C,2000 N BENTALOU ST,AGG. ASSAULT,O,OTHER,731.0,WESTERN,Mondawmin,-76.65422,39.31091,"(39.3109100000, -76.6542200000)",STREET,1,AGG. ASSLT.- OTH.
23,09/02/2017,15:46:00,3B,AV & REISTERSTOWN RD,ROBBERY - STREET,O,NaN,612.0,NORTHWESTERN,Park Circle,-76.66025,39.32887,"(39.3288700000, -76.6602500000)",STREET,1,ROBB HWY (UA)
24,09/02/2017,15:00:00,6D,PY & ECHODALE AV,LARCENY FROM AUTO,O,NaN,415.0,NORTHEASTERN,Morgan State University,-76.57584,39.35489,"(39.3548900000, -76.5758400000)",STREET,1,LARCENY- FROM AUTO
25,09/02/2017,15:00:00,6J,100 W LEXINGTON ST,LARCENY,I,NaN,111.0,CENTRAL,Downtown,-76.61729,39.29164,"(39.2916400000, -76.6172900000)",OFFICE BUI,1,LARCENY- OTHER
26,09/02/2017,14:50:00,4E,4700 MELBOURNE RD,COMMON ASSAULT,I,HANDS,833.0,SOUTHWESTERN,Beechfield,-76.69447,39.27224,"(39.2722400000, -76.6944700000)",ROW/TOWNHO,1,COMMON ASSAULT
27,09/02/2017,14:30:00,4E,300 LIGHT ST,COMMON ASSAULT,O,HANDS,112.0,CENTRAL,Inner Harbor,-76.61340,39.28544,"(39.2854400000, -76.6134000000)",STREET,1,COMMON ASSAULT
28,09/02/2017,14:25:00,5B,600 S STREEPER ST,BURGLARY,I,NaN,232.0,SOUTHEASTERN,Canton,-76.57639,39.28498,"(39.2849800000, -76.5763900000)",ROW/TOWNHO,1,BURG. RES. (ATT.)
29,09/02/2017,13:48:00,4C,1700 E 30TH ST,AGG. ASSAULT,I,OTHER,411.0,NORTHEASTERN,Coldstream Homestead Mont,-76.59152,39.32537,"(39.3253700000, -76.5915200000)",ROW/TOWNHO,1,AGG. ASSLT.- OTH.

In [126]:
# Analysing the dataset
victim_merged_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 276529 entries, 0 to 276528
Data columns (total 16 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   CrimeDate        276529 non-null  object
 1   CrimeTime        276529 non-null  object
 2   CrimeCode        276529 non-null  object
 3   Location         274322 non-null  object
 4   Description      276529 non-null  object
 5   Inside/Outside   266250 non-null  object
 6   Weapon           95577 non-null   object
 7   Post             276305 non-null  float64
 8   District         276449 non-null  object
 9   Neighborhood     273789 non-null  object
 10  Longitude        274325 non-null  float64
 11  Latitude         274325 non-null  float64
 12  Location 1       274325 non-null  object
 13  Premise          265772 non-null  object
 14  Total Incidents  276529 non-null  int64
 15  CrimeName        275647 non-null  object
dtypes: float64(3), int64(1), object(12)
memory usage: 33.8+ MB

In [127]:
# Find duplicate rows
duplicate_rows = victim_merged_data[victim_merged_data.duplicated()]

# Print the duplicate rows
print("Duplicate rows:")
print(duplicate_rows)

# Count the number of duplicate rows
print(f"\nNumber of duplicate rows: {len(duplicate_rows)}")

Duplicate rows:
         CrimeDate CrimeTime CrimeCode              Location  \
10      09/02/2017  21:00:00        4C    2300 LYNDHURST AVE
50      09/02/2017  05:25:00        4C  3400 W NORTHERN PKWY
52      09/02/2017  05:25:00        4E  3400 W NORTHERN PKWY
101     09/01/2017  17:53:00        4A       AV & CYPRESS ST
142     09/01/2017  03:22:00        4C        BL & CUSTER RD
...            ...       ...       ...                   ...
276377  01/01/2012  20:00:00        6D       6300 PIONEER DR
276378  01/01/2012  20:00:00        6D       6300 PIONEER DR
276390  01/01/2012  18:06:00        4E       1000 N WOLFE ST
276455  01/01/2012  05:42:00        4B    300 E LAFAYETTE AV
276456  01/01/2012  05:42:00        4B    300 E LAFAYETTE AV

              Description Inside/Outside   Weapon   Post      District  \
10           AGG. ASSAULT              O    OTHER  641.0  NORTHWESTERN
50           AGG. ASSAULT              O    OTHER  632.0  NORTHWESTERN
52         COMMON ASSAULT              O    HANDS  632.0  NORTHWESTERN
101          AGG. ASSAULT              O  FIREARM  911.0      SOUTHERN
142          AGG. ASSAULT              O    OTHER  832.0  SOUTHWESTERN
...                   ...            ...      ...    ...           ...
276377  LARCENY FROM AUTO              O      NaN  423.0  NORTHEASTERN
276378  LARCENY FROM AUTO              O      NaN  423.0  NORTHEASTERN
276390     COMMON ASSAULT              I    HANDS  322.0       EASTERN
276455       AGG. ASSAULT              I    KNIFE  311.0       EASTERN
276456       AGG. ASSAULT              I    KNIFE  311.0       EASTERN

           Neighborhood  Longitude  Latitude                       Location 1  \
10        Windsor Hills  -76.68365  39.31370  (39.3137000000, -76.6836500000)
50                 Glen  -76.68223  39.35362  (39.3536200000, -76.6822300000)
52                 Glen  -76.68223  39.35362  (39.3536200000, -76.6822300000)
101          Curtis Bay  -76.58833  39.22374  (39.2237400000, -76.5883300000)
142         Violetville  -76.68285  39.26905  (39.2690500000, -76.6828500000)
...                 ...        ...       ...                              ...
276377   Hamilton Hills  -76.57230  39.36352  (39.3635200000, -76.5723000000)
276378   Hamilton Hills  -76.57230  39.36352  (39.3635200000, -76.5723000000)
276390      Middle East  -76.59112  39.30256  (39.3025600000, -76.5911200000)
276455  Greenmount West  -76.61141  39.30997  (39.3099700000, -76.6114100000)
276456  Greenmount West  -76.61141  39.30997  (39.3099700000, -76.6114100000)

           Premise  Total Incidents             CrimeName
10          STREET                1  AGG. ASSLT.- OTH.
50          STREET                1  AGG. ASSLT.- OTH.
52          STREET                1        COMMON ASSAULT
101         STREET                1  AGG. ASSLT.- GUN
142         STREET                1  AGG. ASSLT.- OTH.
...            ...              ...                   ...
276377      STREET                1  LARCENY- FROM AUTO
276378      STREET                1  LARCENY- FROM AUTO
276390  ROW/TOWNHO                1        COMMON ASSAULT
276455  ROW/TOWNHO                1  AGG. ASSLT.- CUT
276456  ROW/TOWNHO                1  AGG. ASSLT.- CUT

[10637 rows x 16 columns]

Number of duplicate rows: 10637

In [58]:
# Null count handling
victim_merged_data.isnull().sum()

CrimeDate               0
CrimeTime               0
CrimeCode               0
Location             2207
Description             0
Inside/Outside      10279
Weapon             180952
Post                  224
District               80
Neighborhood         2740
Longitude            2204
Latitude             2204
Location 1           2204
Premise             10757
Total Incidents         0
CrimeName             882
dtype: int64

In [116]:
# Renaming null values as unknown
victim_merged_data = victim_merged_data.fillna("Unknown")

In [117]:
# Dropping unnecessary columns from victim dataset
victim_merged_data = victim_merged_data.drop(["Location","Weapon","Post","District","Neighborhood","Longitude","Latitude","Location 1","Total Incidents"],axis=1, errors="ignore")
victim_merged_data.head()

,CrimeDate,CrimeTime,CrimeCode,Description,Inside/Outside,Premise,CrimeName
0,09/02/2017,23:30:00,3JK,ROBBERY - RESIDENCE,I,ROW/TOWNHO,ROBB RESIDENCE KNIFE
1,09/02/2017,23:00:00,7A,AUTO THEFT,O,STREET,STOLEN AUTO
2,09/02/2017,22:53:00,9S,SHOOTING,Outside,Street,SHOOTING
3,09/02/2017,22:50:00,4C,AGG. ASSAULT,I,ROW/TOWNHO,AGG. ASSLT.- OTH.
4,09/02/2017,22:31:00,4E,COMMON ASSAULT,O,STREET,COMMON ASSAULT

In [118]:
# Getting number of categories in Inside/Outside column
victim_merged_data["Inside/Outside"].value_counts()

Inside/Outside
I          131999
O          129782
Unknown     10279
Outside      3837
Inside        632
Name: count, dtype: int64

In [120]:
# Minimizing available categories in Inside/Outside column
def setIO(IO):
  if IO == "Outside":
    return "O"
  elif IO == "Inside":
    return "I"
  else:
    return IO

victim_merged_data["Inside/Outside"] = victim_merged_data["Inside/Outside"].apply(setIO)

In [121]:
# Visualizing updated categories
victim_merged_data["Inside/Outside"].value_counts()

Inside/Outside
O          133619
I          132631
Unknown     10279
Name: count, dtype: int64

In [123]:
# Getting number of categories in Premise column
victim_merged_data["Premise"].value_counts()

Premise
STREET        100919
ROW/TOWNHO     60502
PARKING LO     12043
APT/CONDO      12002
OTHER - IN     11459
               ...
Private Sc         2
Day Care F         1
Church             1
MANUFACTUR         1
Gas Statio         1
Name: count, Length: 124, dtype: int64

In [ ]:
from datetime import datetime, timedelta

# Function to convert time to a 1-hour range
def time_to_range(time_obj):
    try:
        # Convert the time object to a string
        time_str = str(time_obj)

        # Parse the string to a datetime object
        time = datetime.strptime(time_str, "%H:%M:%S")

        # Get the start and end times of the range
        start_time = time.replace(minute=0, second=0)
        end_time = start_time + timedelta(hours=1)
        return f"{start_time.time()} - {end_time.time()}"
    except ValueError:
        return time_str

# Apply the function
crime_merged_data["Time Range"] = crime_merged_data["CrimeTime"].astype(str).apply(time_to_range)

 "crime_codes_data": "/content/drive/MyDrive/DSGP/BALTIMORE_CRIME_CODES.csv",
    "crime_data": "/content/drive/MyDrive/DSGP/Baltimore_Part1_Crime_data.csv",
    "victim_data": "/content/drive/MyDrive/DSGP/BPD_Part_1_Victim_Based_Crime_Data_preprocessed.csv",